<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a New Song</title>
</head>
<body>
<form th:action="@{/create}" method="post" th:object="${songDTO}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" type="text"></td>
            <td th:if="${#fields.hasErrors()}" th:errors="*{name}"></td>
        </tr>

        <tr>
            <td>Musician:</td>
            <td><input th:field="*{musician}" type="text"></td>
            <td th:if="${#fields.hasErrors()}" th:errors="*{musician}"></td>
        </tr>

        <tr>
            <td>Type:</td>
            <td><input th:field="*{type}" type="text"></td>
            <td th:if="${#fields.hasErrors()}" th:errors="*{type}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Create</button></td>
        </tr>
    </table>
</form>
</body>
</html>